<h1>Welcome to products index page!</h1>

<div>
  <% @products.each do |product|%>
    <ul>
      <li>
      <h2><%=link_to("#{product.name}","/products/#{product.id}") %></h2>

      <h2><%=product.description%></h2>
      <h2><%=product.price_in_dollars%></h2>
      </li>
      <br>
    </ul>
  <%end%>
</div>
